html, body {
    overflow-y: hidden;
    /*height: 100%;*/
}
i.required {
    color: #a94442;
}
.blue {
    color: #2f6f9f;
}
.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*=== welcome ===*/
#welcome {
    margin: 20px;
    min-width: 250px;
}
.passwordContent {
    display: none;
}
#wrong-password-p {
    color: #a94442;
    display: none;
}
.page-content-wrapper {
    margin: 5px 20px 20px;
}
.page-content-wrapper label {
    margin-top: 15px;
}

.content a {
    cursor: pointer;
}
.content {
    display: none;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    /*height: 100%;*/
    padding: 0 0 50px;
    top: 50px;
            overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
}
/* Fix rendering issue for iOS > 7 */
.content > * {
    position: relative;
    transform: translate3d(0,0,0);
}
.btn {
    margin-top: 10px;
}
/*=== contend-wrapper ===*/


/*=== navigation-bar ===*/
#navi {
    display: none;
    background-color: #428bca;
    height: 50px;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#navi #pageTitle {
    width: 100%;
    height: 50px;
}
#navigationTitle {
    width: 60%;
    text-align: center;
    padding-top: 8px;
    float: left;
}
#navi .glyphicon {
    cursor: pointer;
}
#navi .navigator {
    text-align: center;
    float: left;
    padding-top: 12px;
    width: 20%;
}
/*=== navigation-bar ===*/

/*=== overview ===*/
#overview .info-text {
    margin: 20px 0 0;
    text-align: center;
    padding: 30px;
}

#overview .list-group-item {
	padding: 0;
    clear: both;
}
#overview li .title {
    padding: 20px;
    float: left;
}
#overview li .remove-button {
    padding: 15px 30px 5px;
    font-size: 30px;
	float: right;
	height: 100%;
	border-left: 1px solid #DDDDDD;
}
#overview li .remove-button .glyphicon{
    cursor: pointer;
}
/*=== overview ===*/

/*=== detail ===*/
#details-wrapper {
	padding: 20px;
}
/*=== detail ===*/

/*=== newLoginData ===*/
#submitEditedLogin {
    display: none;
}
/*=== newLoginData ===*/
